<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My starting point for Flask applications">
    <meta name="author" content="Jeff Kereakoglow">
    <link rel="icon" href="../static/favicon.ico">

    <title>{{ config["APP_NAME"] }}{% if args.title %}  - {{ args.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    {% if args.stylesheet %}
    <link href="../static/css/{{args.stylesheet}}.css" rel="stylesheet">
    {% endif %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block header_js %}{% endblock %}
  </head>
  <body>
    {% if args.show_header %}{% include "header.html" %}{% endif %}
    {% block jumbotron %}{% endblock %}
    <div class="container">
      {% block content %}{% endblock %}
      {% if args.show_footer %}{% include "footer.html" %}{% endif %}
    </div><!-- /container -->
    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {% block footer_js %}{% endblock %}
  </body>
</html>
